#------------------------------------------------------------
# Vi Key Bindings
#------------------------------------------------------------

# Moving around
bind attach,browser,index       G   last-entry
bind attach,browser,index       g   noop
bind attach,browser,index       gg  first-entry
bind index                      j   next-entry
bind index                      k   previous-entry
bind pager                      G   bottom
bind pager                      g   noop
bind pager                      gg  top
bind pager                      j   next-line
bind pager                      k   previous-line

# Scrolling
bind attach,browser,pager,index \CF next-page
bind attach,browser,pager,index \CB previous-page
bind attach,browser,pager,index \Cu half-up
bind attach,browser,pager,index \Cd half-down
bind browser,pager              \Ce next-line
bind browser,pager              \Cy previous-line
bind index                      \Ce next-line
bind index                      \Cy previous-line

# Deleting
bind pager,index                d   noop
macro pager,index               dd  <delete-message><sync-mailbox><enter>

# Threads
bind browser,pager,index        N   search-opposite


# ------------------------------------------------------------------------------
# vim: set filetype=muttrc:
