[client]
# The client section is read by mycli and all MySQL applications.

# Default connection information
# user = root
# password = test
# host = localhost
# port = 3306

# Configure the pager
pager = 'less -SRXF'
